/*
 Theme Name:   Krug TRC
 Description:  Child Theme from Woodmart 
 Author:       Pavel Serikov
 Author URI:   http://github.com?pavelsr
 Template:     woodmart
 Version:      1.0.0
 Text Domain:  krugtrc
*/


/* https://css-tricks.com/replace-the-image-in-an-img-with-css/ */

.woodmart-main-logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(/wp-content/themes/woodmart-child/logo-krug-128.png) no-repeat;
  width: 370px;
  height: 128px;
  padding-left: 370px;
}